@import url(//fonts.googleapis.com/css?family=Open+Sans)
@import url(//fonts.googleapis.com/css?family=Lobster)

@import 'font-awesome'

body
	font-family: 'Open Sans'

=header-height($h: 32px)
	display: inline-block
	height: $h
	line-height: $h


@mixin ui-button($h: 32px, $p: 10px, $m: 1px)
	user-select: none
	display: inline-block
	box-sizing: border-box
	height: $h
	line-height: $h - 2*$p
	cursor: pointer
	font-size: $h / 2 - 2px
	margin: $p
	outline: none
	&:active
		margin: ($p + $m) $p ($p - $m) $p
		outline: none

.left
	float: left
.right
	float: right
.clear
	clear: both

button
	i.fa + span
		margin-left: 3px

@import 'ui/index'
